{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block about %}active{% endblock %}
{% block content %}
<h1><span id="title">Meet the Gang</span></h1>
<table cellpadding="10" width="100%">
	<tr>
		<td>
			<img src="../static/bootstrap/img/eddy.jpg" class="pic" alt="E-dogg">	
		</td>
		<td>
			  <p> Eddy was hella G back in high schoool. <br> Straight 2.0 wasssup. </p>
		</td>
	</tr>

	<tr>
		<td>
			  <p> Marisa is straight azn. <br> Don't mess wit her kung fu yo.</p>
		</td>
		  		<td>
			  <img src="../static/bootstrap/img/marisa.jpg" class="pic" alt="M-$wag">	
		</td>
	</tr>

	  	<tr>
		<td>
			  <img src="../static/bootstrap/img/niki.jpg" class="pic" alt="Big N">
		</td>
		<td>
			  <p> Niki comes from the ghettos of Maryland. <br> She a strong independent black woman 
			  	<br> who don't need no man. </p>
		</td>
	</tr>

	  	<tr>
		<td>
			  <p> Linda's from the 650. Holla.</p>
		</td>
		<td>
			  <img src="../static/bootstrap/img/linda.jpg" class="pic" alt="L-Deezy">
		</td>
	</tr>

</table>

{% endblock %}
