<!DOCTYPE HTML>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="../static/css/style.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
<![endif]-->

{% block head %}
{% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand">Pay Up Dawg</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="{% block home %}{% endblock %}"><a href="/">Home</a></li>
              {% if user.is_authenticated %}
              <li class="{% block dash %}{% endblock %}"><a href="/dashboard">Dashboard</a></li>
              <li class="{% block receipts %}{% endblock %}"><a href="/receipts">My Receipts</a></li>
              <li class="{% block groups %}{% endblock %}"><a href="/groups">My Groups</a></li>
              {% endif %}
              <li><a class="{% block about %}{% endblock %}" href="/about">About</a></li>
            </ul>
              {% if user.is_authenticated %}
              <a type="button" href="/logout" class="btn pull-right">Sign out</a>
              {% else %}
            <form class="navbar-form pull-right" method="post" action="login">{% csrf_token %}
              {% if form.errors %}
              <p class="error">Sorry, that's not a valid username or password</p>
              {% endif %}
              <input name="username" class="span2" type="text" placeholder="Username">
              <input name="password" class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
              {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


<div class="container">
  <div class="hero-unit translucent">
    {% block content %}
    {% endblock %}
  </div>
</div>


{% block footer %}
{% endblock %}

<footer class="container">
<p class="credit">&copy; E-dogg, M-$wag, Big N, L-deezy</p>
</footer>

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/bootstrap/js/jquery.js"></script>
<script src="../static/bootstrap/js/bootstrap-transition.js"></script>
<script src="../static/bootstrap/js/bootstrap-alert.js"></script>
<script src="../static/bootstrap/js/bootstrap-modal.js"></script>
<script src="../static/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="../static/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="../static/bootstrap/js/bootstrap-tab.js"></script>
<script src="../static/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="../static/bootstrap/js/bootstrap-popover.js"></script>
<script src="../static/bootstrap/js/bootstrap-button.js"></script>
<script src="../static/bootstrap/js/bootstrap-collapse.js"></script>
<script src="../static/bootstrap/js/bootstrap-carousel.js"></script>
<script src="../static/bootstrap/js/bootstrap-typeahead.js"></script>

</body>
</html>
