{% extends 'base.html' %}
{% block title %}Pay Up Dawg{% endblock %}
{% block home %}active{% endblock %}
{% block content %}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <h1><span id="title"><span class="small">Hey yo,</span> Pay Up Dawg!</span></h1> <br>
  <p>Do you struggle wit payin playas back, biatch? Do you struggle wit other’s never payin you back, biatch? Well wit Pay Up Dawg, you can track whoz ass owes whoz ass paper. </p> <br>
  <p><a href="register" class="btn btn-primary btn-large">Sign Up! &raquo;</a></p>

{% endblock %}
