{% extends 'base.html' %}
{% block title %}Pay Up Dawg{% endblock %}
{% block home %}active{% endblock %}
{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Hey yo, Pay Up Dawg!</h1> <br>
        <p>Do you struggle wit payin playas back, biatch? Do you struggle wit other’s never payin you back, biatch? Well wit Pay Up Dawg, you can track whoz ass owes whoz ass paper. </p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
        <h2>Demo</h2>
        <p>lalallalala </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
        <h2>uhh</h2>
        <p>filler </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
        <h2>Sign Up!</h2>
        <p>hi</p>
        <p><a class="btn" href="register">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
</div> <!-- /container -->
{% endblock %}
