{% extends 'base.html' %}

{% block title %}My Receipts{% endblock %}
{% block content %}

<div class="form-horizontal">
	<form method="post" action="/addfriend">{% csrf_token %}
	New Friend:
	<input type="text" name="username">
	<input type="hidden" value="{{gid}}" name="gid">
	<button type="submit" class="btn">
	Add Friend
	</button>
	</form>
</div>

Average spending per person: ${{ avg }}




<table>


{% for p in people %}
<tr>
<td>
{{ p.0 }}'s Spending:
</td>
<td>
${{ p.1 }}
</td>
</tr>
{% endfor %}
</table>
<br>
<table cellpadding="10" width="100%" class="table table-striped table-bordered expenses">
<thead>
	<th> Date </th>
	<th> Name </th>
	<th> Category </th>
  <th> Owner </th>
	<th> Price </th> 
</thead>

{% for x in table %}
<tr> 
	<td> {{ x.0.date }} </td>
	<td> {{ x.0.title }} </td>
	<td> {{ x.0.category }}</td>
  <td> {{ x.1 }} </td>
  <td color=green> {{ x.0.totalPrice }} </td>
</tr>
{% endfor %}
</table>

Suggested actions:<br>
{% for t in trans %}
{{ t }}<br>
{% endfor %}

{% endblock %}
