body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url(../bootstrap/img/brickwall.jpg);
  background-position: center;
  background-size: 100%;
}

@font-face {
	font-family: streetsoul;
	src: url(../fonts/streetsoul.ttf);
}

#title
{
	font-family: streetsoul;
	font-size: 100px;
}

#title .small {
	color: black;
}

.translucent {
  background-color: rgba(200,200,200,0.7);
}

.hero-unit.translucent {
   font-size: 20px;
   font-weight: bold;
   color: black;
   text-shadow: 0 0 6px white;
}

.credit {
	color: white;
	font-size: 15px;
	text-shadow: 0 0 5px black;
}


.hero-unit label {
  font-size: 20px;
}

.pic {
  height: 300px;
}


td, th {
text-align: center;
}

.expenses, .expenses td, .expenses th{
  border: 2px solid gray;
}

.grouplist {
  list-style-type: none;
  margin: 0;
}

.grouplist li a {
  color: black;
  border-radius: 2px;
  background: gray;
  height: 100px;
  display: block;
  margin-bottom: 10px;
  line-height: 40px;
  padding-left: 40px;
  padding-top: 45px;
  background: rgba(220,210,210,0.7);
}

.grouplist li a:hover {
  text-decoration: none;
  background: rgba(220,210,210,0.9);
}







